body {
  display: flex;
  flex-direction: column;
  transform: scale(0.95);
  font-family: "Courier New", Courier, monospace;
}

h1 {
  align-self: center;
  font-size: 2.5rem;
  font-weight: bolder;
  margin: 1rem;
  color: white;
  text-shadow: 0 0 20px black;
}

.animated {
  animation: vanish 5s ease-in-out forwards;
}

@keyframes vanish {
  0% {
    color: black;
    transform: scale(1);
  }
  99% {
    transform: scale(5);
    color: transparent;
  }
  100% {
    color: white;
    text-shadow: 0 0 20px black;
  }
}

#arena {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.player,
.computer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.rows {
  display: flex;
  gap: 30px;
}

.rowOne {
  justify-content: space-evenly;
}

.rowTwo {
  justify-content: space-between;
}

#playerChose {
  min-width: 80px;
}

.rowThree {
  justify-content: center;
}

#status {
  min-width: 300px;
  font-size: xx-large;
  font-weight: 800;
  text-align: center;
}

.status {
  animation: grow 0.5s ease-out forwards;
}

@keyframes grow {
  from {
    transform: scale (1);
    text-shadow: 0 0 1px black;
  }
  to {
    transform: scale(3);
    text-shadow: 0 0 20px black;
  }
}

#score {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  font-size: 1.5rem;
}

.userInput,
.usersChoice,
#computerChose,
.computerInput {
  border: 5px solid black;
  padding: 20px;
  border-radius: 50%;
}

.userInput:hover {
  transform: scale(1.2);
  background-color: #eeeeee;
}

#computerChose {
  min-width: 80px;
}

#playerChose.userInput:hover {
  transform: none;
  box-shadow: none;
}

.counter {
  display: flex;
  justify-content: center;
  margin-top: 30px;

  font-size: 1.5rem;
}

.chosen {
  background-color: yellow;
}

.chosen:hover {
  background-color: #ffcd01;
}

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
#footer img {
  max-width: 1.5rem;
}

.finishedGame {
  border: 7.5px solid black;
  border-radius: 20px;
  background-color: #555;
  text-shadow: 0 0 10px white;

  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;

  animation: endgame 5s ease-in-out forwards;
}

@keyframes endgame {
  0% {
    transform: scale(1);
  }
  99% {
    transform: scale(20);
  }
  100% {
    background-color: transparent;
    border-color: transparent;
    color: transparent;
    height: 100em;
    flex-shrink: 0;
    width: 100em;
  }
}

.buttons {
  border: 5px solid black;
  border-radius: 5px;
}
